<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pusat.android.makananbekuenak.com.aplikasi_distributor" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeScreen"/>
        <activity
            android:name=".RegistrasiDistributor"
            android:theme="@style/AppTheme.baru"/>
        <activity android:name="pusat.android.makananbekuenak.com.aplikasi_distributor.SignupActivity"
            android:theme="@style/AppTheme.Dark" />

        <activity android:name="pusat.android.makananbekuenak.com.aplikasi_distributor.LoginActivity"/>

        <activity
            android:name=".EditdataPribadi"
            android:label="Edit Data Pribadi"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustPan|adjustResize" >
            <!--Coding Kembali Ke Menu Utama-->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pusat.android.makananbekuenak.com.aplikasi_distributor.TampilanPribadi" />
            <!-- END Coding Kembali Ke Menu Utama-->

        </activity>
        <activity
            android:name=".Pengaturan"
            android:label=" Pengaturan">
        </activity>
        <activity
            android:name=".Laporan"
            android:label=" Laporan">
        </activity>
        <activity
            android:name=".MainActivity"
            android:label=" Pesanan">
        </activity>
        <activity android:name=".TampilanPribadi"
            android:label="Info Pribadi"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustPan|adjustResize" >
            <!--Coding Kembali Ke Menu Utama-->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pusat.android.makananbekuenak.com.aplikasi_distributor.Pengaturan" />
            <!-- END Coding Kembali Ke Menu Utama-->
        </activity>
        <activity android:name=".Kosong"/>

        <activity android:name=".Lihatdetail"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustPan|adjustResize" >
            <!--Coding Kembali Ke Menu Utama-->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pusat.android.makananbekuenak.com.aplikasi_distributor.MainActivity" />
            <!-- END Coding Kembali Ke Menu Utama-->
        </activity>
        <activity
            android:name=".UpdateStokmagesActivity"
            android:label=" Update Stok">
        </activity>/
    </application>
</manifest>